.switch{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
    
}

.slider{
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: #E92677;
    transition: 0.4s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    border-radius: 50%;
    right: 4px;
    bottom: 4px;
    background-color: #FFE86E;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider::before{
    transform: translateX(-19px);
    background-color: #000000;
    box-shadow: -8px 0px 0px 0px #FFE86E; 
}